Nama        : Muhamad Faisal Halim  
NIM         : 19.240.0163  
Kelas       : -

---
## Mahasiswa MBKM 

***Universitar Mummadiyah Kalimantan Timur***  
~ STMIK Widya Pratama Pekalongan

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")

print(csv)

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv.head(7))

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv['Age'].head(10))

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv.iloc[3])

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
print(csv.describe(exclude=['O']))

In [ ]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print(csv.isnull().values.any())

In [2]:
import pandas as pd

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print(csv.mean(numeric_only=True))
print("--- DATASET TERDAPAT NILAI KOSONG ---")
print(csv.head(5))

csv=csv.fillna(csv.mean(numeric_only=True))
print("--- DATASET YANG SUDAH DISI DENGAN MEAN ---")
print(csv.head(5))

CustomerID                100.500000
Age                        38.939698
Annual Income (k$)         61.005051
Spending Score (1-100)     50.489899
dtype: float64
--- DATASET TERDAPAT NILAI KOSONG ---
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male   NaN                15.0                    81.0
2           3  Female  20.0                 NaN                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                     NaN
--- DATASET YANG SUDAH DISI DENGAN MEAN ---
   CustomerID   Genre        Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.000000           15.000000               39.000000
1           2    Male  38.939698           15.000000               81.000000
2           3  Female  20.000000           61.005051                6.000000
3           4  Female  23.000000           16.000000               77.000000
4           5  Female  31.000000           17.000000               50.489899

In [4]:
import pandas as pd

csv_data = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data_missingvalue.csv")
print("--- DATASET TERDAPAT NILAI KOSONG ---")
print(csv_data.head(5))

csv_data=csv_data.fillna(csv_data.median(numeric_only=True))
print("--- DATASET YANG SUDAH DISI DENGAN MEAN ---")
print(csv_data.head(5))

--- DATASET TERDAPAT NILAI KOSONG ---
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male   NaN                15.0                    81.0
2           3  Female  20.0                 NaN                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                     NaN
--- DATASET YANG SUDAH DISI DENGAN MEAN ---
   CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male  19.0                15.0                    39.0
1           2    Male  36.0                15.0                    81.0
2           3  Female  20.0                62.0                     6.0
3           4  Female  23.0                16.0                    77.0
4           5  Female  31.0                17.0                    50.0

In [5]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/shopping_data.csv")
array = csv.values

# Memisahkan fitur dari dataset.
X = array[:,2:5]  
# Memisahkan class dari dataset
Y = array[:,0:1]  

dataset = pd.DataFrame({'Customer ID':array[:,0],'Gender':array[:,1],'Age':array[:,2],'Income':array[:,3],'Spending Score':array[:,4]})

print("-- DATASET SEBELUM NORMALISASI --")
print(dataset.head(5))

# inisialisasi normalisasi MinMax
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,1))

 #transformasi MinMax untuk fitur
data = min_max_scaler.fit_transform(X)
dataset = pd.DataFrame({'Age':data[:,0],'Income':data[:,1],'Spending Score':data[:,2],'Customer ID':array[:,0],'Gender':array[:,1]})

print("-- DATASET SETELAH NORMALISASI --")
print(dataset.head(5))

-- DATASET SEBELUM NORMALISASI --
  Customer ID  Gender Age Income Spending Score
0           1    Male  19     15             39
1           2    Male  21     15             81
2           3  Female  20     16              6
3           4  Female  23     16             77
4           5  Female  31     17             40
-- DATASET SETELAH NORMALISASI --
        Age    Income  Spending Score Customer ID  Gender
0  0.019231  0.000000        0.387755           1    Male
1  0.057692  0.000000        0.816327           2    Male
2  0.038462  0.008197        0.051020           3  Female
3  0.096154  0.008197        0.775510           4  Female
4  0.250000  0.016393        0.397959           5  Female